.keyboardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 4vh;
}
.letter{
    margin-top: 10px;
    width: 43px;
    height: 58px;
    font-weight: bolder;
    border: 0;
    border-radius: 4px;
    background-color: #d3d6da;
    color: #000000;
    margin-left: 3px;
    margin-right: 3px;
}
.action{
    height: 58px;
}
.true{
    background-color: #00ff00;
}
.false{
    background-color: #ff0000;
}

@media(max-width:767px){
    .letter{width:35px}
}