.keyboardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 4vh;
}
.letter{
    margin-top: 10px;
    width: 43px;
    height: 58px;
    font-weight: bolder;
    border: 0;
    border-radius: 4px;
    background-color: #d3d6da;
    color: #000000;
    margin-left: 3px;
    margin-right: 3px;
}
.action{
    height: 58px;
    background-color: #d3d6da;
    color: #000000;
    margin-left: 3px;
    margin-right: 3px;
    border: 0;
    border-radius: 4px;
}
.correct{
    background-color: #00ff00;
}
.incorrect{
    background-color: #ff0000;
}
.almost{
    background-color: #ffff00;
}

@media(max-width:767px){
    .letter{
        width:8vw;
        margin: 1.5px;
    }
    .keyboardWrapper{
        bottom: 0;
        
    }
}