
.AnswerGrid{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 10px;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    justify-content: center;
    margin: auto;
    width: 370px;
    height: 420px;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    width: 37   0px;
    height: 62.5px;
    
}
.AnswerBox{
    display: flex;
    flex-direction: row;
    width: 62px;
    height: 62.5px;
    border:2px solid #d3d6da;
    margin: 4px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}